$main-font: 'Roboto', sans-serif;
$color-header: #ffffff;
$color-body: #000000;
$color-text-footer: #545454;
$color-logo-icon: #818181;
$color-film-data-title: #8C8C8C;
$color-line-link: #ff6b08;
$color-btn-hover: #ff6b01;
$color-message: #ff001b;
$color-link-hover: #cccccc;
$color-bg: #e5e5e5;
$color-bg-footer: #f7f7f7;
$color-text-placeholder: #505050;
$color-text-invalid: #ff705d;
$color-inactive-form: #cccccc;

    h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}