<header class="header">
  <div class="header__container hero--lib">
    <nav class="header__nav">
      <div class="header__logo logo">
        <a href="/src/index.html">
          <div class="logo__content">
            <i class="bx bx-film logo__icon"></i>
            <span class="logo__text logo__text--ref">Filmoteka</span>
          </div>
        </a>
      </div>
      <div class="header__search">
        <button
          class="search__button search__button--active"
          data-id="watched-btn"
        >
          Watched
        </button>
        <button class="search__button header-movie-button" data-id="queue-btn">
          Queue
        </button>
      </div>
      <ul class="header__menu menu">
        <li class="menu__item">
          <a href="index.html" class="menu__link">Home</a>
        </li>
        <li class="menu__item active">
          <a href="#" class="menu__link">My library</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script src="./js/hide-show-library-header.js"></script>
