<style>
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .prevButton {
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
  }

  .prevButton:hover {
    cursor: pointer;
    background-color: rgb(251, 173, 37);
  }

  .afterButton {
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
  }
  .afterButton:hover {
    cursor: pointer;
    background-color: rgb(251, 173, 37);
  }
</style>

<div id="pagination" class="pagination">
  <button class="prevButton">Anterior</button>
  <span class="numberPage">1</span>
  <button class="afterButton">Siguiente</button>
</div>
