.buttonUp {
  display: none;
  color: $color-accent-sec;
  position: fixed;
  right: 20px;
  bottom: 50px;
  opacity: .5;
  cursor: pointer;
  font-size: 40px;
}

.buttonUp:hover {
  opacity: 1;
  cursor: pointer;
  font-size: 40px;
  transition: opacity .25s cubic-bezier(.4,0,.2,1);
}