* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  & {
    transition: all 0.3s ease;
  }
}
.hero--lib {
  background-image: url('./images/bg2.jpg');
  background-size: cover;
  height: 230px;
}

.header {
  & {
    transition: top 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__container {
    max-width: 100vw;
    margin: 0 auto;
  }

  &__nav {
    padding: 41px 71px 0 71px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    color: $color-inactive-form;

    & .logo__icon {
      font-size: 28px;
      color: $color-logo-icon;
    }

    & .logo__text {
      font-size: 30px;
      text-decoration: none;
      color: $color-header;
      &:hover {
        cursor: pointer;
      }
    }
    & .logo__text--ref {
      text-decoration: none;
    }

    & img {
      height: 50px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 287px;
    justify-content: space-between;
    // margin: 0 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;

    & .search__button {
      width: 136px;
      height: 44px;
      background-color: transparent;
      border: 2px solid $color-header;
      outline: none;
      // margin-left: 30px;
      border-radius: 5px;
      color: $color-header;

      &:hover {
        background-color: $color-main-sec;
        border-style: none;
        color: $color-header;
        cursor: pointer;
      }
    }
    & .search__button__active {
      width: 136px;
      height: 44px;
      background-color: $color-main-sec;
      border-style: none;
      outline: none;
      // margin-left: 30px;
      border-radius: 5px;
      color: $color-header;

      &:hover {
        background-color: $color-main-sec;
        border: 2px solid $color-header;
        color: $color-header;
        cursor: pointer;
      }
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    width: 182px;
    gap: 39px;
    // & .menu__item {
    //   margin-left: 39px;
    // }

    & a {
      color: $color-header;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: $color-link-hover;
      }
    }

    & .active a:first-child {
      border-bottom: 3px solid $color-main;
      // margin-right: 20px;
    }
  }

  @media (max-width: 768px) {
    &__logo {
      display: flex;
    }

    &__nav {
      padding: 40px 52px 0px;
    }

    &__menu .menu__item {
      align-items: center;
      text-align: center;
    }

    &__search {
      justify-content: space-between;
      margin: 0;
    }

    // &__menu .menu__item {
    //   margin-left: 20px;
    // }
  }
}
@media (max-width: 500px) {
  .header__logo .logo__text {
    display: none;
  }
  .header__nav {
    // padding: 30px 18px 0 18px;
    padding: 50px 20px 0 23px;
    align-items: flex-start;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      'header__logo library'
      'buttons buttons';
  }
  .header__logo {
    grid-area: header__logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .header__menu {
    grid-area: library;
    display: flex;
    align-items: center;
  }
  .header__search {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: 20px;
  }
  // .header__menu .menu__item {
  //   margin-left: 20px;
  // }
  .header__menu {
    margin-left: 71px;
  }
  .header__search .search__button {
    margin-left: 0px;
    margin-right: 10px;
    margin-block-end: auto;
  }
}
@media (min-width: 500px) and (max-width: 720px) {
  .header__logo .logo__text {
    display: none;
  }
  .header__nav {
    padding: 30px 18px 0 18px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      'header__logo library'
      'buttons buttons';
  }
  .header__logo {
    grid-area: header__logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .header__menu {
    grid-area: library;
    display: flex;
    align-items: center;
  }
  .header__search {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }
  // .header__menu .menu__item {
  //   margin-left: 20px;
  // }
  .header__menu {
    margin-left: auto;
  }
  .header__search .search__button {
    margin-left: 0px;
    margin-right: 10px;
    margin-block-end: auto;
  }
}

.header.hidden {
  top: -1000px;
}
.library.top {
  padding-top: 120px;
}
