* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.header.hidden {
  top: -1000px;
}
.gallery.top {
  padding-top: 120px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.3s ease;
}
#ancho {
  max-width: 100vw;
}
.container {
  margin: 0 auto;
}
.header.hidden {
  top: -1000px;
}
.hero {
  background-size: cover;
  background-image: url('../images/bg3.jpg');
  height: 230px;
}

.nav {
  padding: 41px 71px 0 71px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.search__header {
  position: relative;
}
.search__header i {
  position: absolute;
  right: 0;
}
.logo__filmoteka {
  color: $color-header;
}

.header__logo {
  width: 167px;
}

.header__logo a {
  text-decoration: none;
}

.logo__filmoteka > i {
  font-size: 28px;
  color: $color-logo-icon;
}
.logo__filmoteka span {
  font-size: 30px;
  color: $color-header;
}
.logo__filmoteka img {
  height: 50px;
}

.logo__content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__header {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  // margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.search__header .search__input {
  padding-right: 30px;
  width: 316px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid $color-link-hover;
  outline: none;
}

.search__header i {
  position: absolute;
  top: 45%;
  right: 3px;
  font-size: 20px;
  margin-left: 10px;
  color: $color-link-hover;
}

.search__header i:hover {
  cursor: pointer;
}

.search__header .search__input:focus {
  outline: none;
}

.search__header .search__input:focus + i {
  color: $color-header;
}

.search__header .search__input:focus {
  border-color: $color-header;
}

.search__header .search__input:valid {
  color: $color-header;
}

.menu__header {
  display: flex;
  list-style: none;
  width: 182px;
  gap: 39px;
}
.menu__header .active a:first-child {
  border-bottom: 3px solid $color-main;
  // margin-right: 20px;
}
// .menu__header li {
//   margin-left: 39px;
// }
.menu__header a {
  color: $color-header;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu__header a:hover {
  color: $color-link-hover;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 40px 20px 0px 30px;
  }
  .search__header {
    margin: 0;
  }
  .menu__header {
    width: 182px;
  }

  // .menu__header li {
  //   margin: 0 10px;
  // }
}
@media screen and (min-width: 720px) and (max-width: 847px) {
  // .menu__header li {
  //   margin: 0 10px;
  // }
  .nav {
    padding: 40px 52px 0px;
  }
  .search__header {
    margin: 0px;
  }
}

@media screen and (min-width: 678px) and (max-width: 720px) {
  .header__logo {
    width: 150px;
    height: 24px;
  }
}

@media screen and (min-width: 542px) and (max-width: 678px) {
  .header__logo {
    width: 100px;
    height: 24px;
  }
  .search__header {
    width: 265px;
  }

  .logo__filmoteka span {
    display: none;
  }
  .nav {
    padding: 40px 20px 0px 50px;
  }
  .menu__header {
    width: 249px;
  }

  .menu__header li {
    margin: 0 5px 0 5px;
  }
}
@media screen and (min-width: 466px) and (max-width: 542px) {
  .logo__filmoteka span {
    display: none;
  }
  .search__header {
    position: absolute;
    // transform: translate(10%, 90%);
  }
  .nav {
    padding: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 542px) {
  .nav {
    padding: 50px 20px 0 23px;
  }
  .header__logo {
    height: 24px;
    justify-content: flex-start;
    width: 24px;
  }

  .logo__filmoteka span {
    display: none;
  }
  .search__header {
    width: 280px;
  }
  .search__header {
    position: absolute;
    // transform: translate(-5%, 20%);
    margin-top: 60px;
  }
  .menu__header .active a:first-child {
    margin-right: 0px;
  }
  .menu__header li {
    margin: 0px;
  }
  .menu__header {
    justify-content: flex-end;
    gap: 39px;
  }
  // .menu__header{
  //     padding-right:10%;
  // }
}

// @media screen and (min-width: 370px) and (max-width: 469px) {
//   .menu__header {
//     margin-right: 30px;
//   }
// }
